# Ignore Python virtual environment
.venv/
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Optional logs
*.log

# Project specific ignores
naruto_talker/debug_outputs/
debug_outputs/
outputs/
results/
venv/
naruto_talker/gfpgan/weights/*.pth
*.pth


