torch
torchvision
torchaudio
diffusers
transformers
accelerate
safetensors
opencv-python
scipy
gradio
soundfile
librosa
sox
numpy<2.4
pydub
imageio
imageio-ffmpeg
moviepy
openmim

einops
omegaconf
face-alignment
kornia
webdataset
tqdm
tensorboard
onnxruntime-gpu
